body {
     background-color:black;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    display:flex;
    justify-content:center;
    color:white;
    margin-top: 30px;
    font-size: 60px;
}

h2 {   text-align: center;
    display:flex;
    justify-content:center;
    color:white;
    margin-top: 30px;
    font-size: 50px;

}
#car {
    width:500px;
    justify-content: left;
    left:0;
    transition: left 4s ease-in-out;
    position:relative;

}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.car_button {
    font-size:20px;
    padding: 15px 20px;
    border-radius: 10px;
    
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}

.adventure-button{
    display: flex;
    align-items: center;
    gap:60px;
    padding: 40px;
    margin: 0 auto;
    position:relative;
    overflow:hidden;
}

#map-container {
    display:none;
    text-align: center;
    margin-top: 40px;
    opacity:0;
    transition: opacity 1s ease-in;
}
#map-container.show {
    display: block;
    opacity:1;
}
#map {
    width: 100%;
    max-width:900px;
    border-radius: 5px;

}

button{
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #c2beb9;
    display:block;
    margin: 0 auto;
    margin-top: 40px;
    font-size:18px;
}

button a {
    color:black;
    font-weight: bold;
}

button a:hover {
    color:#506fb8;
    text-decoration:none;
}
#map_h2, #menu {
    display:none;
    opacity:0;
    transition: opacity 1s ease-in;
    text-align:center;

}

#map_h2.show, #menu.show {
    display: block;
    opacity:1;
    margin-bottom:60px;
}


#menu a {
    color:azure;
    font-size: 20px;
}

#menu {
padding: 20px 20px;
margin-top:30px;
}

#menu a:hover  {
    color:#506fb8;
    text-decoration: none;
    font-weight:bold;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url("/images/madrid2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    


}

.description-text {
  background-color: #bba184;
  opacity: 0.9;
  color: #000;
  font-size: 18px;
  text-align: center;
  min-height: 100%;
}

.object-fit-cover {
  object-fit: cover;
}



.container {
margin-top: 40px;
height:100%;
}


.city {
    text-align:center;
    color:rgb(151, 150, 160);
    align-items:center;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;


}
.map_card {
    border: 5px solid white; 
    border-radius: 4px;
    width:100%;
    height:200px;
}

.article-container{
    background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/madrid3.jpg");
background-size: cover;
background-repeat: no-repeat;
max-width:1200px;
margin: 0 auto;
}
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    padding-top:10px;
}
main {
    background-color: white;
    max-width:1200px;
    margin:0 auto;
    border-radius: 2px;

}
footer {
    background-image: linear-gradient(#1d1916bf, rgba(12, 12, 14, 0.589)), url("/images/nature2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:rgb(245, 243, 239);

}
.img-responsive {
    width:100%;
    height:200px;
    object-fit:cover;
}

footer li {
    list-style: none;
    margin:0;
    padding:0;
}

footer p{
    opacity:0.9;
}

footer ul {
    padding:0;
}
footer a {
    color:rgb(240, 205, 176);
    opacity:0.8;
    font-weight:bold;
    text-decoration: underline;
}

footer a:hover{
    color:#506fb8;
    font-weight: bold;
    opacity:0.99
}
footer .section {
    max-width:1200px;
}
footer h1{
    line-height:1.5;
}

.container-text {
    font-weight:600;
    color:rgb(55, 52, 65);
    margin-bottom: 20px;

}

#top-places {
    background-color:#ebcb9b;
    padding:40px 20px;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity:90%;
    color: black;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap:20px;
    padding:0 10px;
    
}
.box-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    background-color:white;
    padding:15px;
    border-radius: 10px;
    text-align:center;
    font-size:20px;
    border:5px solid rgb(49, 47, 44);
    height:100%;
    align-self:stretch;

}

.margin-0-auto{
    display: flex;
    margin: 0 auto;
   
}
.box-cards p {
  flex-grow: 1; 
  margin-top: 20px;
  color: #161622;
  font-weight: 600;
}

.box-cards button {
  margin-top: auto;
}

@media (max-width: 900px) {
  h2{
    font-size: 35px;
  }

  h1{
    font-size: 35px;
  }

  img {
    max-width: 400px;
  }
  #car {
    width:150px;
}
.car_button {
    font-size: 16px;
    padding: 5px 16px;
  }

}